<!DOCTYPE html>
<html>
<head>
  <link rel="manifest" href="/static/manifest.json">
  <link rel="stylesheet" href="/static/main.css">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>

<body onload="onLoadInitialization()">

<h1>Denon Control</h1>
  <div style="width:400px; max-width: 100%;">
    <table border="0">
      <tr>
        <td>
          <button class="button" onclick="executePutRequest('/startVolume/35')">Start</button>
        </td>
        <td>
          <button class="button" onclick="executePutRequest('/power/standby')">Shutdown</button>
        </td>
      </tr>
      <tr>
        <td>
          <b>Station</b>
        </td>
        <td>
          <button class="button" onclick="executePutRequest('/next')">Next Station</button>
        </td>
      </tr>
    </table>
    <p>Volume</p>
    <div>
      <input id="volumeRange" type="range" min="0" max="80" value="0" step="1" oninput="updateVolume(this.value)" />
      <output id="volumeValue"></output>
    </div>
  </div>
<script>
function onLoadInitialization() {
  document.getElementById("volumeValue").value = "0";
  executeGetRequest("/volume", function (data) {
    document.getElementById("volumeValue").value = data;
    document.getElementById("volumeRange").value = data;
  });
}
function executeCommand(command) {
  var xhr = new XMLHttpRequest();
  xhr.open('PUT', "/command?cmd=" + command, true);
  xhr.send();
}
function executePutRequest(request) {
  var xhr = new XMLHttpRequest();
  xhr.open('PUT', request, true);
  xhr.send();
}
function updateVolume(value) {
  document.getElementById("volumeValue").innerHTML = value;
  executeCommand("MV" + value);
}
function executeGetRequest(request, callback) {
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function () {
    if (xhr.readyState == 4 && xhr.status == 200)
      callback(xhr.responseText);
  }
  xhr.open('GET', request, true);
  xhr.send();
}
</script>
</body>
</html>