version: '2'
services:
  nodered:
    build: .
    image: icebear8/nodered:0.20.7-r1
    container_name: nodered
    restart: always
    ports:
      - "1880:1880"
    env_file:
      - ./config/default.env
